{{set . "title" "hailmary: send a file"}}
{{template "header.html" .}}


<div id="filetransfer">
    <span class="blueheader" ><h2> Choose a file to send </h2></span>
    <!--
    gonna be used later to make identifiers possibly
    <p>
    <label for="identifier">Enter a secret here </label>
    <input id="identifier" type="text">
    </p>
    -->
    <p>
    <input id="thefile" name="thefile"type="file">
    </p>
    <p>
    <div id="upfilebtn" class="abtn greenbtn">
        choose a file
    </div>
    </p>
    <div id="readybtn" class="abtn greenbtn" >
        click me
    </div>
    <h2><span class="blueheader" id="key"></span><h2>
</div>

<script type="text/javascript">
    function read_slice(file, chunkNum) {
        starttime = new Date().getTime();
        var chunk = 1048576;
        var marker = chunkNum*chunk;
        var sizeLeft = file.size - (marker) - 1;
        var sizeToUpload = sizeLeft < chunk ? sizeLeft : chunk;
        var bl = file.slice(marker, marker + sizeToUpload);
        deliver_slice(bl)
        endtime = new Date().getTime();
        console.log("end " + endtime + "\tstart " + starttime + "\ttime for slice: " + (endtime - starttime))
    }
function deliver_slice(data)
{
    //console.log("delivering slice" + data.size)
    ret = socket.send(data);
    return ret;
}
// Create a socket
var socket = new WebSocket('ws://'+window.location.host+'/SendChunk')
socket.binaryType = "blob"

// Message received on the socket
socket.onmessage = function(event) {
    var msg = event.data.split('|')
    if(msg[0]== "ready") {
        read_slice(global_file, 0)
    } else if(msg[0] == "next") {
        console.log("sending chunk: " + msg[1])
        read_slice(global_file, parseInt(msg[1]))
    } else if(msg[0] == "end") {
        //close the websocket??
    } else if(msg[0] == "key") {
        $("#key").text("Tell the recipient this secret: " + msg[1])
    }
}

// Log errors
socket.onerror = function (error) {
      console.log('WebSocket Error ' + error);
}
var global_file;  

function convertToBnary(str) {
    for (var i = 0; i < str.length; ++i)
    {
        var bytes = [];
        bytes.push(str.charCodeAt(i));
    }
}

$(
        function() {
        $("#thefile").bind( 'change',
            function(e) { 
            console.log("setting global file")
            global_file = e.target.files[0];
            $("#upfilebtn").text("upload " + global_file.name);
            }
            )
        $("#upfilebtn").click(function(e) {
            $("input[name=thefile]").trigger('click')
            });
        $("#readybtn").click(function(e) { 
            var numChunks = (parseInt(global_file.size / 1048576) + (global_file.size % 1048576 == 0 ? 0 : 1));
            console.log("numChunks: " + numChunks)
            socket.send("filename|" + global_file.name)
            socket.send("numChunks|" + numChunks)
            socket.send("size|" + global_file.size)
            })
        }
 )

</script>
{{template "footer.html" .}}
