{{set . "title" "Home"}}
{{template "header.html" .}}
<div id="filetransfer">
    <span class="greenheader" ><h2> Receive File </h2></span>
    <p>
    <label for="identifier">Enter the secret here</label>
    <input id="identifier" name="secret"type="text">
    </p>
    <div id="readybtn" class="abtn bluebtn" >
        click me
    </div>
</div>

<script type="text/javascript">
    $(function(e) {
            $("#readybtn").click(function(g) {
                var filename = $("input[name=secret]").val();
                if(filename == null || filename == "") {
                    alert("dawg you need to enter a filename!")
                }
                window.open("/Receiver?key=" + $("input[name=secret]").val(), "download");
                })
            })

</script>
